
.banner{
  border: 0.1vmin solid black;
  border-radius: 4vmin 4vmin 0vmin 0vmin;
  height: 15vmin;
  background: url(https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fill,g_center,w_730,h_487/stock%2Fshutterstock_373602469) no-repeat;
  background-size: auto;
  background-position: center;
}

.itemInfo{
  border: 0.1vmin solid black;
  border-radius: 0vmin 0vmin 4vmin 4vmin;
  min-height: 10vmin;
  padding: 1vmin;
}
