<div>

  <app-navigation-bar></app-navigation-bar>

  <div class="widgets">

    <div class="widget">
      <app-dashboard-login-widget></app-dashboard-login-widget>
    </div>

    <div class="widget">
      <app-search-store-widget></app-search-store-widget>
    </div>

    <div class="widget">
      <app-dashboard-cart-widget></app-dashboard-cart-widget>
    </div>

<!--    <div class="widget">-->
<!--      <app-dashboard-random-item-widget></app-dashboard-random-item-widget>-->
<!--    </div>-->


  </div>

</div>
