<div class="reset-window">
  <div class="reset-widget">

    <div>
      <a class="alignContentToCenter" routerLink="/dashboard">
        <img class="logo" src="assets/img/moneyzgone.png" alt="Logo">
      </a>
    </div>

    <div class="spacer"></div>

    <div>
      <h2>Reset Password</h2>
      <p>Enter your email address below and we'll try something. No garanties though.</p>
    </div>

    <div class="spacer"></div>

    <div class="text-container">
      <input class="textField" type="text" placeholder="Email address" [(ngModel)]="email">
    </div>

    <div class="spacer"></div>

    <div class="reset-button-container">
      <button class="reset-button" (click)="reset()">Reset password!</button>
    </div>

    <div class="spacer"></div>

    <div class="warning" [style]="waringStyle">
      <div class="spacer"></div>
      <p class="warning">{{message}}</p>
    </div>

    <div class="spacer"></div>

    <div>
      <a routerLink="/login-page">Back to login</a>
    </div>

  </div>
</div>
