
.banner{
  border: 0.1vmin solid black;
  border-radius: 4vmin 4vmin 0vmin 0vmin;
  height: 15vmin;
  background: url(/assets/img/shoppingCartFull.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.itemInfo{
  border: 0.1vmin solid black;
  border-radius: 0vmin 0vmin 4vmin 4vmin;
  min-height: 10vmin;
  padding: 1vmin;
}
